##################
### .gitignore ###
##################

## python build artifacts ##
*.pyc
build/*
dist/*
gadfly.egg-info/*
doc/build/*

## data, images, and log files ##
*.hdf5
*.h5
*.pdf
*.log
*.out
*.err

